@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.left{
    background-color: rgb(252, 201, 119);
    height: 100vh;
    width: 60vh;

    
}

.picture1 img{
    margin: 30px;
   
}
.picture2 img{
    width: 300px;
    height: 300px;
    margin: 10px;
}

.des{
    
    font-size: 14px;
    margin: 25px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}
.main{
    display: flex;
}
.right
{
    /* background-color: honeydew; */
}

#sign_up{
    font-family:'Poppins', sans-serif;
    text-align: right;
    margin-top: 50px;
    margin-left: 80;
}
#decorate{
    text-decoration: none;
    color:blue;

}
#log_in{
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 18%;
}
.buttons{
    display: flex;
    margin-left: 18%;
}

.google_button button{
    font-family:'Poppins', sans-serif;
    padding: 9px 50px 9px 0;
    background-color: rgb(105, 105, 252);
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-right: 20px;
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 2px;
   
}
.google_button button img{
   height: 25px;
   width: 25px;
   vertical-align: middle;
   margin: 0 40px 0 30px;
   
   
}
.twitter button{
    font-family:'Poppins', sans-serif;
    padding: 9px;
    margin-top: 20px;
    background-color: wheat;
    border: 1px solid black;
    border-radius: 2px;

}
.twitter button img{
    height: 25px;
   width: 25px;
   vertical-align: middle;

}

.facebook button{
    font-family:'Poppins', sans-serif;
    padding: 9px;
    margin: 20px 0 0 15px;
    background-color: wheat;
    border: 1px solid black;
}
.facebook button img{
    height: 25px;
   width: 25px;
   vertical-align: middle;
   border-radius: 2px;
}
h3 {
    width: 50%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 40px 0 60px; 
    font-family:'Poppins', sans-serif;
    display: inline-block;
    margin-left: 20%;

 } 
 
 h3 span { 
     background:#fff; 
     padding:0 10px; 
}

.email{
    margin-left: 18%;
    margin-bottom: 20px;
    margin-top: -30px;

}
.email p{
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#email{
    width: 50%;
    height: 33px;
    border-radius: 2px;
    
    background-color: rgb(219, 217, 217);
    border: 1px solid black;
    border-radius: 2px;
}
.password{
    margin-left: 18%;


}
.password p{
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;

}
#password{
    width: 50%;
    height: 33px;
    border-radius: 2px;
    
    background-color: rgb(219, 217, 217);
    border: 1px solid black;
    border-radius: 2px;

}

.checkbox{
    display: flex;
    margin-left: 18%;
    margin: 20px;
}

.checkbox #check{
    margin-right: 20px;
    margin-left: 16%;
}
.checkbox p{
   align-items: center;
   font-family:'Poppins', sans-serif;
   font-size: 13px;
   text-align: left;
   width: 60%;
}

.login{
    margin-left: 18%;
}

.login button{
    padding: 6px 70px 6px 70px;
    font-size: 15px;
   font-family:'Poppins', sans-serif;
   background-color: orange;
   border: 1px solid black;
   border-radius: 2px;

}

.end{
    margin-left: 18%;
    margin-top: 40px;
}

.end p {
    width: 60%;
   font-family:'Poppins', sans-serif;
font-size: 13px;

}

@media only screen and (max-width: 768px){
    .main{
        display: block;
    }
    .buttons{
        display: block;
    }
}